# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
pnpm-lock.yaml

# Vite/Pnpm env
dist/
.env
.env.*

# Editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# log
*.log

# OS
.DS_Store
Thumbs.db
#Dataset
Dataset.parquet
